badge-system
badge-speaker
progress-bar-time
badge-time


badge-state
badge-speaker
text-time
btn-decrease
btn-increase
btn-playback
btn-stop

list-candidate
btn-candidate-none
btn-candidate-*
btn-candidate-custom
btn-candidate-*-radio
btn-candidate-*-name

btn-bell-force
btn-bell-mode
badge-bell

btn-a-sw-next
btn-a-sw-force
btn-a-sw-mode
badge-a-sw

text-custom


badge-setup-file
badge-setup-candidates
badge-setup-version
badge-setup-timestamp

text-bell-lenght
text-ch-del

btn-rnd-disp-mode
badge-rnd-disp

btn-pictures-mode
badge-pictures

badge-ip
badge-connections
badge-latency

list-clients
list-client-*
list-client-*-ip
list-client-*-connections